---
---

@import "{{ site.theme }}";

.download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
}

.win_download_link {
  background: url(../images/sprite_download.png) no-repeat bottom left;
}

.win_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top left;
}