---
---

@import "{{ site.theme }}";

.inner {
  max-width: 855px;
}

img {
  width: auto ;
  max-width: 100% ;
  height: auto ;
}

#downloads {
  width: 300px;
}

#navigation {
  margin-top: -1.5em;
  font-size: 20px;
  font-weight: bold;
}

.download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
}

.win_download_link {
  background: url(../images/sprite_download_win.png) no-repeat bottom;
}

.win_download_link:hover {
  background: url(../images/sprite_download_win.png) no-repeat top;
}

.mac_download_link {
  background: url(../images/sprite_download_macos.png) no-repeat bottom;
}

.mac_download_link:hover {
  background: url(../images/sprite_download_macos.png) no-repeat top;
}

.linux_download_link {
  background: url(../images/sprite_download_linux.png) no-repeat bottom;
}

.linux_download_link:hover {
  background: url(../images/sprite_download_linux.png) no-repeat top;
}